/* ==========================================================================
   Plum skin(custom)
   ========================================================================== */

/* Colors */
$background-color: #FCFCFC !default;
$text-color: #000000 !default;
//$muted-text-color: #8e8b82 !default;
$primary-color: #FB6372 !default;
$border-color: mix(#fff, $primary-color, 50%) !default;
$code-background-color: #F8E0E6 !default;
$code-background-color-dark: #3F4447 !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#fff, $primary-color, 85%) !default;
$link-color: mix(#769DD5, $text-color, 70%) !default;
$link-color-hover: mix(#fff, $link-color, 75%) !default;
$link-color-visited: mix(#769DD5, $text-color, 70%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 80%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 70%) !default;

/* dirt syntax highlighting (base16) */
$base00: #231e18 !default;
$base01: #302b25 !default;
$base02: #48413a !default;
$base03: #9d8b70 !default;
$base04: #b4a490 !default;
$base05: #cabcb1 !default;
$base06: #d7c8bc !default;
$base07: #e4d4c8 !default;
$base08: #d35c5c !default;
$base09: #ca7f32 !default;
$base0a: #e0ac16 !default;
$base0b: #b7ba53 !default;
$base0c: #6eb958 !default;
$base0d: #88a4d3 !default;
$base0e: #bb90e2 !default;
$base0f: #b49368 !default;
